.device-card {
  background: #0f172a;

  padding: 30px;

  border-radius: 20px;

  text-align: center;
}

.device-card h3 {
  color: white;

  margin-bottom: 20px;
}

.device-card button {
  padding: 12px 25px;

  border: none;

  border-radius: 10px;

  background: #38bdf8;

  color: white;

  font-weight: bold;

  cursor: pointer;
}